<div class="rightbar-home">
  <h4>WHO TO FOLLOW</h4>
  <% current_user.not_followed.each do |f|  %>
    <div class="user-section">
      <div class="user-photo">
        <img class="photo" src="<%= f.photo %>">
      </div>
      <div class="user-details"%>
        <%= f.fullname %><br>
        <a>@<%= f.username %></a>
      </div>
    </div>
  <% end %>
</div>
<div class="middle-section container">
  <div class="tweet-section">
    <h4>TWEET SOMETHING:</h4>
    <div>
      <%= form_for @opinion do |opinion| %>
        <%= opinion.text_field :text, class:"tweet"%>
      <% end %>
    </div>
  </div>
  <div class="new-tweets">
    <h4><%= Opinion.all.count %> NEW TWEETS</h4>
    <div>
        <% Opinion.all.each do |opinions|%>
          <h5><%= opinions.author.username %></h5>
          <span><%= opinions.text %></span>
        <% end %>
    </div>
  </div>
</div>