<div class="login-background">
  <div class="login">
    <div class="image">
    </div>
    <%= form_for @user do |user| %>
      <div class="path">
      <%= flash[:messages] %>
        <div>
          <span class="material-icons" id="login-icon">face</span>
          <h3>Sign up!</h3>
        </div>
        <div>
          <span class="material-icons">person</span>
          <%= user.text_field :username, placeholder:"Username", class:"username-field"%>
        </div>
        <div>
          <span class="material-icons">create</span>
          <%= user.text_field :fullname, placeholder:"Full name", class:"username-field"%>
        </div>
        <div>
          <h5>Add profile photo: </h5>
          <%= user.file_field :photo %>
        </div>
        <div>
          <h5>Add cover photo: </h5>
          <%= user.file_field :coverimage %>
        </div>
        <div>
          <span>Already have an account? <%= link_to "Login", login_path %></span>
          <%= user.submit "Sign up", class:'btn' %>
        </div>
      </div>
    <% end %>
  </div>
</div>