<div class="user-section">
  <div class="middle-section container">
    <img class="cover-img" src="<%= @user.photo %>">
    <div class="tweet-section">
      <h4>TWEET SOMETHING:</h4>
      <div>
        
      </div>
    </div>
    <div class="new-tweets">
      <h4>NEW TWEETS</h4>
      <div>
          HOLA
      </div>
    </div>
  </div>
  <div class="rightbar-user">
    <div class="user-det">
      <div class="photo-adduser">
        <span class="material-icons">add_circle_outline</span>
        <img class="profile-photo" src="<%= @user.photo %>">
        <span class="material-icons">list</span>
      </div>
      <div class="username-name">
        <span><%= @user.fullname%></span>
        <span>@<%= @user.username %></span>
      </div>
    </div>
    <div class="tweets-follows">
      <div class="section">
        <span><%= @user.created_opinions.all.count %></span>
        <span>Tweets</span>
      </div>
      <div class="line"></div>
      <div class="section">
        <span><%= @user.followeds.all.count %></span>
        <span>Following</span>
      </div>
      <div class="line"></div>
      <div class="section">
        <span><%= @user.followers.all.count %></span>
        <span>Followers</span>
      </div>
    </div>
    <div class="followed_by">
      <span>FOLLOWED BY</span>
        <% @user.follower.each do |followers| %>
          <div class="follower-det">
            <img class="profile-photo" src="<%= followers.photo %>">
            <div class="follower-name">
              <a><%= followers.fullname %></a>
              <a>@<%= followers.username %><a>
            </div>
          </div>
        <% end %>
    </div>
  </div>
</div>